body {
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20210403/pngtree-simple-white-flat-vectors-with-diagonal-cuts-decorative-backdrops-for-your-image_597614.jpg);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.profile {
  display: flex;
  height: 30%;
}

.img2,
.img1 {
  max-width: 500px;
}

a {
  color: Yellow;
}

h1,
h2 {
  color: #7CB9E8;
}

h1,
p {
  text-align: center;
}